@import url(https://fonts.googleapis.com/css2?family=Outfit&family=Roboto+Mono&family=Rubik:ital,wght@0,300;0,400;1,400&display=swap')



*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #0E2430;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235B9B9A' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FEF7D5'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5, p, a{
    font-family: 'Roboto Mono', monospace;
    color: white;
  }

.header{
    display: flex;
    justify-content: flex-end;
    justify-content: flex-end;
}

nav{
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    padding: 15px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.banner{
    border: solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-size: 2em;
    font-weight: bold;
}

.resume{
    width: 45%;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    border: solid 2px #000;
    cursor: pointer;
}

.img-profile{
    width: 300px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
}

.section-works {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px; 
  }
  
.card {
    display: flex;
}
  
.card div img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px orange;
}

.card div img:hover{
    box-shadow: 5px 5px 5px 5px red;
    transition: 0.8s;
}
  
.text-works {
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
  
.container-detail {
    text-align: center;
    margin-left: 20px;
}
  
.container-detail p {
    margin-top: 20px;
    padding: 15px;
    font-size: 30px;
}
  
.container-detail h2 {
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
}
  
.link-portafolio{
   
    text-decoration: none;
}
